input{
  background-color: #b4b4b4;
  border: none;
  height: 3em;
  border-radius: 0.7em;
  padding: 0 1rem;
  width: 100%;;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
input:focus{
  outline: none;
}
