.button {
    height: 2.5rem;
    border: none;
    color: black;
    background: #FFE81F;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 0.35rem;
    min-width: max-content;
    max-width: max-content;
    padding: 0 1rem;
    font-size: 90%;
}
.button:hover, .button:focus{
  outline: none;
  background: #ffc31f;
  cursor: pointer;
}
