@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500');


.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59, 61, 68);
  color: #FFE81F;
  min-height: 100vh;
  height: auto;
}